/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
ion-content {
  --background: #ffffff; /* white background */
  --color: #000000; /* black text */
}
